<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BaseAPI_URL" value="http://baseapi.nidingtravel.com/index.html"/>
    <add key="HotelAPI_URL" value="http://hotelapi.nidingtravel.com/index.html"/>
    <add key="FlightAPI_URL" value="http://flightapi.nidingtravel.com/index.html"/>
    <add key="TravelAPI_URL" value="http://travelapi.nidingtravel.com/index.html" />
    <add key="OpenAPI_URL" value="http://open.nidingtravel.com/index.html" />

    <add key="BaseAPI_URL" value="http://baseapi.nidingtravel.com/index.html"/>
    <add key="HotelAPI_URL" value="http://hotelapi.nidingtravel.com/index.html"/>
    <add key="FlightAPI_URL" value="http://flightapi.nidingtravel.com/index.html"/>
    <add key="TravelAPI_URL" value="http://travelapi.nidingtravel.com/index.html" />
    <add key="OpenAPI_URL" value="http://open.nidingtravel.com/index.html" />
  </appSettings>
</configuration>