<?xml version="1.0" encoding="utf-8" ?>
<CacheConfig>
  <MongoDBCacheKeyMap>
    <DbName>CacheKeyMapDB</DbName>
    <TableName>BaseCacheKeyMaps</TableName>
    <MongoDBCacheKeyMapConnStr>mongodb://192.168.1.104:27017</MongoDBCacheKeyMapConnStr>
  </MongoDBCacheKeyMap>

  <MongoDBCache>
    <DbName>CacheDB</DbName>
    <CacheMachines>A</CacheMachines>
    <TableName>BaseCaches</TableName>
    <IdentityMap Identity="A">mongodb://192.168.1.104:27017</IdentityMap>
  </MongoDBCache>
</CacheConfig>


<!--<?xml version="1.0" encoding="utf-8" ?>
<CacheConfig>
  <MongoDBCacheKeyMap>
    <DbName>CacheKeyMapDB</DbName>
    <TableName>FlightCacheKeyMaps</TableName>
    <MongoDBCacheKeyMapConnStr>mongodb://admin:admin@192.168.149.142:27017</MongoDBCacheKeyMapConnStr>
  </MongoDBCacheKeyMap>

  <MongoDBCache>
    <DbName>CacheDB</DbName>
    <CacheMachines>A</CacheMachines>
    <TableName>FlightCaches</TableName>
    <IdentityMap Identity="A">mongodb://admin:admin@192.168.149.142:27017</IdentityMap>    
  </MongoDBCache>
</CacheConfig>-->